body{
  height: 800px;
}
div{
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  background-color: #000;
  margin: 0 20%;
  height: 50%;
  text-align:center;
  font-size: 2em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  color: #fff;
}

#first{
  background-image: url("http://i.imgur.com/oOnt3FX.jpg");
}

#second{
  background-image: url("http://i.imgur.com/VrHnCRC.jpg");
}

#third{
  background-image: url("http://i.imgur.com/KBGmcNq.jpg");
}

#fourth{
  background-image: url("http://imgur.com/yzbmy1f.jpg");
}

#fifth{
  background-image: url("http://i.imgur.com/MprcFDC.jpg");
}